name: Deploy to K8s

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v1
        
      - name: Ballerina Build
        uses: ballerina-platform/ballerina-action/@1.1.1
        with:
          args: 
            build hello.bal
        env: 
          docker_username: ${{ secrets.docker_username }}
          docker_password: ${{ secrets.docker_password }}
                      
      - name: Kubectl
        uses: danielr1996/kubectl-action@1.0.0
        with:
          args: apply -f /github/workspace/kubernetes/
          kubeconfig: ${{ secrets.KUBE_CONFIG_DATA }}
