name: Deploy to K8s

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v1
        
      - name: Ballerina Build
        uses: ballerina-platform/github-actions/cli/latest@master
        with:
          args: 
            build hello.bal
        env: 
          docker_username: ${{ secrets.docker_username }}
          docker_password: ${{ secrets.docker_password }}
                      
      - name: AWS Kubectl
        uses: actions/aws/kubectl@master
        with:
          args: apply -f /github/workspace/kubernetes/
        env: 
          KUBE_CONFIG_DATA: ${{ secrets.KUBE_CONFIG_DATA }}
